.words {
    margin: 2rem auto;
    width: 90%;
   text-align: center;
   height: 44rem;
   overflow-y: scroll;
  }
  
  .words ul {
    list-style: none;
    padding: 1rem;
    /* max-height: 20rem; */
    overflow-y: scroll;
   
  }
  
  /* .words div{
    border: 1px solid black;
  } */

  .words li {
    border: 1px solid #ccc;
    margin: 0.5rem auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }